# Игнорируем виртуальное окружение
venv/
.venv/

# Игнорируем файлы конфигурации с токенами
config.py

# Игнорируем системные файлы PyCharm
.idea/

# Игнорируем временные файлы Python
__pycache__/
*.pyc
.env
